{% extends "base.html" %}
{% block content %}


<br>
<br>
<br>
<br>

<div class="">
  <div class="jumbotron bg-transparent">
    <h1>
      <div style="font-family: 'Fira Code', monospace;"> ~ About ~ </div>
    </h1><br>
    <hr><br>
    <h5>
      <div style="font-family: 'Courgette', monospace;">
        <p> Full Stack Development | Python Expert </p>
      </div>
    </h5>
    <p class="">
      Website created with - Python - Flask - Bootstrap - CSS. ~ A basic CRUD applicationm,
      A company Blog Page where you can register and login. User password data is hashed then stored so we
      are able compair the hashed verson ensuring your password is stored safely and will never be compromised. Once
      signed in you are able to upload a profile immage, edit username & email, Creat/Read/Update/Deleate a BlogPost.

      <br><br>
      If you would like to share something, sign up and head over to "Create Post"!

    </p>
  </div>
</div>

<section class="zone blue">
  <div class='text-center col-12'>
    <h5>
      <div style="font-family: 'Courgette', monospace;">
        <p> To leave a note or schedule a meeting, click the link below.</p>
      </div>
    </h5>
  </div>
  <div class="buffer2 col-12"></div>

  <section class="text-center col-12">
    <hr>
    <a href="https://mailchi.mp/a7fad5352235/worldtech"><button class="btn btn-outline-info btn-xl">Find out
        more</button></a>
  </section>

</section>


{% endblock %}